.box {
  height: 500px;
  background-color: lightgray;
}
.dayLight {
  background-color: yellow;
}


#btn{
  
  padding: 15px;

  color: white;
  background-color: seagreen;
  border-radius: 20px;
 border: none;
 margin-bottom: 30px;
}

  
